*{
    font-family: monospace,Arial, sans-serif;
    /* font-size: 100%; */
    margin: 15px;
}

h1{
    font-size: 200%;
}

p{
    /* width: 400px; */
    width: 70%;
    margin-left: 3%;
    color: rgb(151, 151, 151);
}

.gray{
    padding: 15px;
    color: rgb(156, 163, 181);
}

a{
    color: rgb(100, 144, 104);
}

details{
    margin-left: 0px;
    text-decoration: underline;
    color: rgb(100, 144, 104);
    cursor: pointer;
}

details > summary
{
    list-style: none;
}

details ul li,
details li a{
    color: rgb(132, 169, 255);
}

.center{
    align-items: center;
    padding-left: 5%;
}

.toppy{
    margin-top: 100px;
}

body{
    background-color: rgb(32, 64, 101);
    font-size: 20px;
}

a img{
    color: rgb(32, 64, 101);
    width: 28px;
    height: 28px;
}

.icon{
    margin: 0px;
    padding: 0px;

    text-decoration: none;
}